[submodule ".registry"]
	path = .registry
	url = https://github.com/jumpingrivers/jumpingrivers.r-universe.dev
	branch = HEAD
[submodule "audit.base"]
	path = audit.base
	url = https://github.com/jumpingrivers/audit.base
[submodule "audit.connect"]
	path = audit.connect
	url = https://github.com/jumpingrivers/audit.connect
[submodule "audit.workbench"]
	path = audit.workbench
	url = https://github.com/jumpingrivers/audit.workbench
[submodule "inteRgrate"]
	path = inteRgrate
	url = https://github.com/jumpingrivers/inteRgrate
[submodule "serverHeaders"]
	path = serverHeaders
	url = https://github.com/jumpingrivers/serverHeaders
