[submodule ".registry"]
	path = .registry
	url = https://github.com/jumpingrivers/jumpingrivers.r-universe.dev
	shallow = true
	branch = HEAD
[submodule "audit.base"]
	path = audit.base
	url = https://github.com/jumpingrivers/audit.base
	shallow = true
	registered = true
[submodule "audit.connect"]
	path = audit.connect
	url = https://github.com/jumpingrivers/audit.connect
	shallow = true
	registered = true
[submodule "audit.workbench"]
	path = audit.workbench
	url = https://github.com/jumpingrivers/audit.workbench
	shallow = true
	registered = true
[submodule "serverHeaders"]
	path = serverHeaders
	url = https://github.com/jumpingrivers/serverHeaders
	shallow = true
	registered = true
[submodule "inteRgrate"]
	path = inteRgrate
	url = https://github.com/jumpingrivers/inteRgrate
	shallow = true
	registered = true
